<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Inter:wght@500&family=Lato:wght@700&family=Merriweather:wght@700&family=Noto+Music&family=Roboto+Slab:wght@500&family=Rokkitt:wght@500;700&display=swap" rel="stylesheet">

</head>
<body>

    <div class= "container">

        
            <div class="navbar">

                    <nav>
                        <ul id="nav-list">
                            <li>
                                <p id="nav-item1">MovieMagic</p>
                            </li>
                            
                            
                            <li>
                                <div id="nav-item2">
                                    <a href="/" >HOME</a>
                                    <a href="/about" >ABOUT ME</a>
                                    <a href="/contact" >CONTACT ME</a>
                                </div>
                            </li>
                        </ul>

                    </nav>

            </div>




