<%- include("partials/header") -%>

<h1 style="margin: 40px 20px;" >About Me</h1>

<p style="margin: 40px 20px;"> <%= aboutUsContent %> </p>

<div style="text-align: center;">
    <div class="img-container">
        <img src="/images/img1.png" alt="temp">
    </div>
</div>



<%- include("partials/footer") -%>




