<%- include("partials/header") -%>

<h1 style="margin: 40px 20px;" >About Me</h1>

<p style="margin: 40px 20px;"> 
    Hey, I'm Shivam, a beginner web developer. I'm passionate about crafting websites that work seamlessly. When I'm not coding, I enjoy exploring new frameworks and staying updated with tech trends. With a keen eye for detail, I strive for websites that are both intuitive and visually appealing. I'm eager to tackle new challenges and bring creative solutions to the table. Let's collaborate and create something amazing together!
</p>

<div style="text-align: center;">
    <div class="img-container">
        <img src="/images/myImg.png" alt="Image" draggable="false">
    </div>
</div>



<%- include("partials/footer") -%>
