<%- include("partials/header") -%>

<h1 style="margin: 40px 20px;" >Contact Me</h1>

<p style="margin: -20px 20px 40px 20px;"> 
    You can get in touch with me by filling out the form below. I'll make sure to get back to you promptly. Don't forget to check out my social media links for more updates and engaging content. Looking forward to hearing from you!
</p>


<form class="form-body" action="/contact" method="post">


    <div class="form-container">
        <div class="form">

                <span class="asterisk-field-contact"> * </span>
                <input type="text" placeholder="First Name" name="first_name" autocomplete="off" maxlength="16" title="Mandatory Field" required>

                <input type="text" placeholder="Second Name" name="second_name" autocomplete="off" maxlength="16">

                <span class="asterisk-field-contact"> * </span>
                <input type="email" placeholder="Email Address" name="email" autocomplete="off" title="Mandatory Field" required>

                <button class="button" type="submit">SUBMIT</button>
            
        </div>
    </div>

    


</form>


<div class="socials">
    <a href="http://www.linkedin.com/in/shivam-jha-b1273723a" class="fa fa-linkedin"></a>
    <a href="http://www.instagram.com" class="fa fa-instagram"></a>
    <a href="http://www.twitter.com" class="fa fa-twitter"></a>
    <a href="http://www.facebook.com" class="fa fa-facebook"></a>
</div>


<%- include("partials/footer") -%>

