<!DOCTYPE html>
<html>
   <head>

      <title>Successful Submission</title>
      <meta http-equiv="refresh" content="2;url=/"/>
      <link rel="shortcut icon" href="/images/success-fav.png" type="image/x-icon">
      <link rel="stylesheet" href="/css/success-css.css">

   </head>
   <body>

      <h1> <%= content %> :)</h1>
      <p>Please wait while you're redirected...</p>

   </body>
</html>
