<!DOCTYPE html>
<html>
   <head>
      <title>Form Submission Failed</title>
      <meta http-equiv="refresh" content="2;url=/contact" />
      <link rel="shortcut icon" href="/images/failure-fav.png" type="image/x-icon">
      <link rel="stylesheet" href="/css/failure-css.css">
   </head>
   <body>
      <h1>Form Submission Failed</h1>
      <p>There was an error processing your request. </p>
      <p> Please wait while you're redirected... </p>
      
      
   </body>
</html>

