

<%- include("partials/header") -%>

<p style="margin: 40px 20px; font-size: 20px;"> 
    Welcome to <b>MovieMagic</b>, a platform where every movie enthusiast is a critic. I've built this space for passionate film lovers like you. Here, there are no barriers – anyone can share their thoughts on any movie, whether it's a recent blockbuster or a timeless classic.

    It's quick, easy, and hassle-free. Our goal is to ensure that every voice is heard, so whether you're a seasoned cinephile or just a casual viewer, your perspective matters.

    Our community is diverse, representing a wide spectrum of tastes and preferences. This diversity ensures you'll find a broad range of opinions, enriching your understanding of each film. Connect with fellow film enthusiasts by sharing your own reviews for the movies that resonate with you the most.

    Your input is invaluable in shaping the future of our website. Thank you for being a part of this dynamic community. Let's continue celebrating the magic of movies, one review at a time.
</p>


<p class="to-review">Write your reviews    <a href="/review" class="to-review-link">here!</a> </p> 

<% if(newMovies.length === 0){ %>
    <h1 style="margin: 40px 20px; text-align: center;">Movies will be displayed here:</h1>
<% } else{ %>

    <div class="movie-list-container">
        <div class="movie-list" >
            <div class="to-animate">

                <div class="to-right">
                    <h1 style="font-family: 'Merriweather', serif;">Movies</h1>
                </div>

                <div class="to-left">
                    <h1 style="font-family: 'Merriweather', serif;">List </h1> 
                </div>

                
            </div>

            <hr>

            <div class="newContent">
                <% newMovies.forEach(function(movie){ %>
                    

                        <div>
                            <p class="hidden-name movie-names">

                                
                                    <a href="/read/<%=encodeURIComponent(movie.title)%>" title="Click here to see all reviews"> <%= movie.title %> </a>
                                
                                
                            </p>
                        </div>
            
                    <% }); %>
        </div>
    </div>

    </div>

    
<% } %>




<%- include("partials/footer") -%>

