<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Not Found</title>
    <link rel="shortcut icon" href="/images/failure-fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/read-failure.css">
</head>
<body>
    <h1>Movie Review Not Found!</h1>
    <p>Sorry, no reviews are present for the requested movie.</p>
    
    <p>
        Write your own review for this move <a class="failed-link" href="/review"> here </a> 
        
    </p>

    <p style="font-size: large;">
        OR
    </p>

    <p>
        Go back to the <a class="failed-link" href="/">home</a> page
    </p>
</body>
</html>
