<%- include("partials/header") -%>



    <p style="margin: 40px">
        Welcome to the Review Zone!
        <br>
        This is your space to share your honest opinions about the movies you've experienced. Remember, authenticity is key here. We value unbiased perspectives, so feel free to express both what worked and what didn't for you. Your insights contribute to a vibrant community of film enthusiasts. Let's keep the conversation constructive and engaging. 
        <br>
        Happy reviewing!

    </p>



    <form action="/review" method="post">


        <div class="review-container">
            
            <span class="title-span"> * </span>
            <div class="input-css input-anim1">
               
                <h3>Movie Title</h3> 
                <input class="anim1-shadow" type="text" name="newTitle" autocomplete="off" title="MandatoryField" required>

            </div>


            <span class="textarea-span"> * </span>
            <div class="input-css input-anim2">
                
                <h3>Write your Review</h3> 
                <textarea class="anim2-shadow" name="newReview" placeholder="Add a minimum of 250 characters..." minlength="250" title="Mandatory Field" required></textarea>
            </div>






            <span class="name-span"> * </span>
            <div class="input-css input-anim3">
                
                <h3>Write your name</h3> 
                
                <input class="anim3-shadow" type="text" name="publishedBy" autocomplete="off" maxlength="32" title="Mandatory Field" required>
            </div>



            <button type="submit" class="button btn-animation">PUBLISH</button>

        </div>

        

    </form>




<%- include("partials/footer") -%>


